<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hendriksen{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
    <body>
        <div class="navbar">
            <div class="logo"><img src="{{ url_for('static', filename='images/Hendriksen.jpg') }}"></div>

            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Stocks</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">Watch List</a></li>
                </ul>
            </nav>

            <div class="search-container-1">
                <input type="text" placeholder="Company or stock symbol...">
            </div>

            <div class="button-container">
                <button class="login-button">Login</button>
                <button class="signup-button">Sign Up</button>
            </div>
        </div>

        <h1 class="main-title">
            <p>Search for a stock to start your analysis</p>
        </h1>

        <h2 class="main-title-details">
            <p>Accurate information on 100,000+ stocks and funds, including all the companies in the S&P500 index. See stock prices,
                news, financials, forecasts, charts, and more.</p>
        </h2>

        <div class="search-container-2">
            <input type="text" placeholder="Company or stock symbol...">
        </div>

        <div class="graph-container">
            <div id="plotly-graph">
                {{ graph_html|safe }}
            </div>
        </div>

         <div class="index-toggle">
            <button class="index-button" data-ticker="^GSPC">S&P500</button>
            <button class="index-button" data-ticker="^DJI">Dow Jones</button>
            <button class="index-button" data-ticker="^NASDAQ">Nasdaq</button>
            <button class="index-button" data-ticker="^RUT">Russel</button>
            <button class="index-button" data-ticker="^VIX">CBOE</button>
        </div>

        <div class="time-toggle">
            <button class="time-button">1 Day</button>
            <button class="time-button">5 Days</button>
            <button class="time-button">1 Month</button>
            <button class="time-button">YTD</button>
            <button class="time-button">1 Year</button>
            <button class="time-button">5 Year</button>
            <button class="time-button">Max</button>
        </div>
    <main>
        {% block content %} {% endblock %}
    </main>
    </body>
</html>

